<div class="datosPerfil">
    <div class="fotoUsuario">
        <img src="../../../assets/img/usuario.jpg" alt="img" class="foto">
        <h2 class="nombreUsuario">Nombre del Usuario</h2>
        <div class="data"><h4 class="nombre">Nombre:</h4><h6 class="valorNombre">Nombre</h6></div>
        <div class="data"><h4 class="apellido">Apellidos:</h4><h6 class="valorApellido">Apellido Apellido</h6></div>
        <div class="data"><h4 class="correo">Correo:</h4><h6 class="valorCorreo">Correo</h6></div>
    </div>
    <div class="formulario">
        <h1 class="editar">Editar datos</h1>
        <input type="text" placeholder="Nombre">
        <input type="text" placeholder="Apellidos">
        <input type="email" placeholder="Correo">
        <input type="text" placeholder="Url">
        <button type="button">Modificar</button>
    </div>
</div>