<div class="contPrinc">
    <div class="contTarg">
        <ng-container *ngIf="books.length > 0; else esFalso">
            <div class="card" style="width: 18rem;" *ngFor="let libro of books; let even = even">
                <div class="contFoto d-flex justify-content-center align-items-center">
                    <div class="foto w-50">
                        <img src="{{libro.photo}}" class="card-img-top" alt="Img">
                    </div>
                </div>
                <div class="card-body text-light d-flex flex-column">
                    <h5 class="card-title text-black fw-bold fs-5 text-center mb-3">{{libro.title}}</h5>
                    <h6 class="card-text ms-3">{{libro.author}}</h6>
                    <h6 class="card-text ms-3">{{libro.type}}</h6>
                    <h6 class="card-text ms-3">{{libro.id_book | ref}}</h6>
                    <h6 class="card-text ms-3">{{libro.id_user}}</h6>
                    <h6 class="card-text align-self-center mt-1">{{libro.price}} €</h6>
                    <a [ngClass]="even ? 'btn btn-success' : 'btn btn-danger'">Comprar</a>
                </div>
            </div>
        </ng-container>
        <ng-template class="" #esFalso>
            <h1 class="text-black esFalso">Lo sentimos, no hay libros disponibles</h1>
        </ng-template>
    </div>
    <div class="contForm d-flex justify-content-center">
        <div class="formulario">
            <h1 class="h1form">Introduce un nuevo libro</h1>
            <input type="text" placeholder="Titulo" #titulo>
            <input type="text" placeholder="Genero" #genero>
            <input type="text" placeholder="Autor" #autor>
            <input type="text" placeholder="Precio" #precio>
            <input type="text" placeholder="Url de portada" #url>
            <input type="text" placeholder="Identificador del libro" #idLibro>
            <input type="text" placeholder="Identificador de usuario" #idUsuario>
            <button type="button" on-click="anyade(titulo, genero, autor, precio, url, idLibro, idUsuario)">Añadir</button>
        </div>
    </div>
</div>