.contPrinc{
    background-image: url("../../../assets/img/pngtree-large-library-has-a-ladder-picture-image_2574110.jpg");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 75px;
    min-height: 100vh;
}
.contTarg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 100px;
}
    .esFalso{
        font-size: 75px;
        background-color: rgba(255, 255, 255, 0.149);
    }